[package]
name = "zap-stream"
version = "0.1.0"
edition = "2021"

[features]
default = ["srt", "rtmp", "test-pattern"]
zap-stream = ["dep:fedimint-tonic-lnd", "dep:zap-stream-db"]
srt = ["zap-stream-core/srt"]
rtmp = ["zap-stream-core/rtmp"]
test-pattern = ["zap-stream-db/test-pattern"]

[dependencies]
zap-stream-db = { path = "../zap-stream-db", optional = true }
zap-stream-core = { path = "../core" }

uuid.workspace = true
ffmpeg-rs-raw.workspace = true
anyhow.workspace = true
log.workspace = true
tokio.workspace = true
async-trait.workspace = true
serde.workspace = true
chrono.workspace = true
hex.workspace = true
url.workspace = true
m3u8-rs.workspace = true
data-encoding.workspace = true

# http stuff
hyper = { version = "1.5.1", features = ["server"] }
bytes = "1.8.0"
http-body-util = "0.1.2"
tokio-util = "0.7.13"
hyper-util = "0.1.10"

# direct deps
config = { version = "0.15.6", features = ["yaml"] }
nostr-sdk = { version = "0.38.0" }
fedimint-tonic-lnd = { version = "0.2.0", default-features = false, features = ["invoicesrpc", "versionrpc"], optional = true }
reqwest = { version = "0.12.9", features = ["stream", "json"] }
base64 = { version = "0.22.1" }
sha2.workspace = true
pretty_env_logger = "0.5.0"
clap = { version = "4.5.16", features = ["derive"] }
futures-util = "0.3.31"
matchit = "0.8.4"
mustache = "0.9.0"
http-range-header = "0.4.2"
