# List of endpoints to listen on
# currently supporting srt/tcp/file/test-pattern
# All the endpoints must be valid URI's
endpoints:
  - "rtmp://0.0.0.0:1935"

# Public hostname which points to the IP address used to listen for all [endpoints]
endpoints_public_hostname: "localhost"
# e.g. for rml_rtmp backend "domain.name" results in "rtmp://domain.name:1935/basic"
# e.g. for cloudflare backend "" (leave blank) results in e.g. "rtmps://live.cloudflare.com:443/live/"
# e.g. for cloudflare backend "domain.name" results in "rtmps://domain.name:443/live/"
# use this to configure e.g. cloudflare custom ingest domains per https://developers.cloudflare.com/stream/stream-live/custom-domains/
# DO NOT include http:// here e.g. "domain.name" NOT "http://domain.name"

# Output directory for recording / hls
output_dir: "./out"

# Public URL for serving files for [output_dir]
public_url: "https://kieran.zap-stream"
# ignore_auth_url: true
# e.g. specifying "http://domain.name" results in:
# e.g. "http://domain.name/api/v1" -> Zap Stream Core API endpoint
# e.g. "http://domain.name/webhooks/cloudflare" -> Cloudflare webhook endpoint
# DO include http:// here e.g. "http://domain.name"

# Admin pukey (hex), this must be set if you want to use the Admin UI
admin_pubkey: "63fe6318dc58583cfe16810f86dd09e18bfd76aabc24a0081ce2856f330504ed"

# Bind address for http server serving files from [output_dir]
listen_http: "0.0.0.0:8080"

# Overseer is the main control structure which controls access to the service
overseer:
  # Streaming backend type (options: "rml_rtmp" or "cloudflare", defaults to "rml_rtmp")
  # backend: "cloudflare"
  # If cloudflare is selected enter api_token and account_id
  # cloudflare:
  #   api-token: "4nhpVkH_9gIUWltY6FISPKZfU72Hm00JD_-qYXMW"
  #   account-id: "7855c995d208d26c1e9dcfa3e9d9a059"

  # At what balance we should alert the streamer to topup
  low_balance_threshold: 500
  # Primary nsec key for publishing stream events
  nsec: "nsec1wya428srvpu96n4h78gualaj7wqw4ecgatgja8d5ytdqrxw56r2se440y4"
  # Terms URL (defaults to https://zap.stream/tos)
  # tos-url: "https://zap.stream/tos"
  # Client URL for "alt" tag "Watch live on" (defaults to https://zap.stream)
  # e.g. "http://domain.name" will result in "Watch live on http://domain.name/{naddr}"
  # client-url: "https://zap.stream"
  #blossom:
  #  - "http://localhost:8881"
  relays:
    - "wss://nos.lol"
    - "wss://relay.snort.social"
    - "wss://relay.damus.io"
    - "wss://relay.fountain.fm"
    - "wss://relay.primal.net"
  database: "mysql://root:root@db/zap_stream?max_connections=2"
  payments:
    # LUD-21 is required to use a lightning address backend
    lnurl:
      address: "v0l@getalby.com"
    #bitvora:
    #  api_token: "abc123"
    #  webhook_secret: "abc123"
    #nwc:
    #  url: "nostr+walletconnect://f4f933dbf21bc80ab223ed593f681c9dc20feaac1c9b9e5596614d8882be5ba8?relay=ws://localhost:7766&secret=4341e0e3d983d739aba8f529935112f7535c36c7cb36fe1bece375e780483459"
    #lnd:
    #  address: "https://127.0.0.1:10001"
    #  cert: "/home/kieran/.polar/networks/1/volumes/lnd/alice/tls.cert"
    #  macaroon: "/home/kieran/.polar/networks/1/volumes/lnd/alice/data/chain/bitcoin/regtest/admin.macaroon"
  # Advertise this server on nostr for public use (NIP-89)
  #advertise:
  #  # Optional override for the NIP-89 'd' tag identifier
  #  # Only use this if you have more than 1 zap-stream-core server per pubkey
  #  # The default value is 'zap-stream-core'
  #  #id: "instance-1"
  #  name: "My Stream Server"
  #  about: "Running zap-stream-core!"
  #  picture: "https://zap.stream/logo.png"

# Redis server for coordination
redis:
  url: "redis://redis:6379"
