[package]
name = "zap-stream-core"
version = "0.1.0"
edition = "2021"

[features]
default = ["test-pattern", "srt", "rtmp"]
srt = ["dep:srt-tokio"]
rtmp = ["dep:rml_rtmp"]
local-overseer = [] # WIP
webhook-overseer = [] # WIP
test-pattern = [
    "dep:resvg",
    "dep:usvg",
    "dep:tiny-skia",
    "dep:fontdue",
    "dep:ringbuf",
]

[dependencies]
ffmpeg-rs-raw.workspace = true
tokio.workspace = true
anyhow.workspace = true
async-trait.workspace = true
log.workspace = true
uuid.workspace = true
serde.workspace = true
hex.workspace = true
itertools.workspace = true
futures-util = "0.3.30"
m3u8-rs = "6.0.0"

# srt
srt-tokio = { version = "0.4.3", optional = true }

# rtmp
rml_rtmp = { version = "0.8.0", optional = true }

# test-pattern
resvg = { version = "0.44.0", optional = true }
usvg = { version = "0.44.0", optional = true }
tiny-skia = { version = "0.11.4", optional = true }
fontdue = { version = "0.9.2", optional = true }
ringbuf = { version = "0.4.7", optional = true }